.video-recorder {
  &__status {
    max-width: 140px;
    font-size: 14px;
    line-height: 1.3;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;

    span {
      display: inline;
    }
  }

  &__container {
    position: var(--chotto-videorecorder-container-position, relative);
    display: var(--chotto-videorecorder-container-display, grid);
    align-items: var(--chotto-videorecorder-container-align-items, center);
    background-color: var(--chotto-videorecorder-container-background-color, transparent);
    height: var(--chotto-videorecorder-container-height, fit-content);
  }

  &__button {
    background-color: var(--chotto-videorecorder-button-background-color, transparent);
    border: var(--chotto-videorecorder-button-border, 0px);

    span {
      display: var(--chotto-videorecorder-button-span-display, block);
      cursor: var(--chotto-videorecorder-button-span-cursor, pointer);
      padding: var(--chotto-videorecorder-button-span-padding, 1px 0 0 3px);
      font-size: var(--chotto-videorecorder-button-span-font-size, 23px);
      color: var(--chotto-videorecorder-button-span-color, #525252);
    }
  }

  &__button:hover span{
    color: var(--chotto-videorecorder-button-hover-span-color, #404040);
  }

  &__button-disabled {
    pointer-events: var(--chotto-videorecorder-button-disabled-pointer-events, none);
    span {
      cursor: var(--chotto-videorecorder-button-disabled-span-cursor, auto);
      color: var(--chotto-videorecorder-button-disabled-span-color, #e5e5e5);
    }
  }
}