.chat-wrapper {
  --chotto-chat-panel-width: 50%;
  --chotto-chat-panel-left: 50%;

  display: flex;
  height: 100%;
  width: 100%;
  align-items: stretch;

  &__selected-chat {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__chat-panel {
    background-color: var(--chotto-primary-color);
    border-left: 1px solid var(--chotto-item-border-color, none);
    border-radius: var(--chotto-chat-panel-border-radius);
    position: absolute;
    height: 100%;
    z-index: 100;
    width: var(--chotto-chat-panel-width);
    left: var(--chotto-chat-panel-left);
  }
}
