.float-window {
  z-index: 1000;
  width: fit-content;
  position: absolute;

  &__container {
    width: 100%;
    height: 100%;
    position: absolute;
    font-weight: var(--chotto-container-font-weight);
    color: var(--chotto-primary-text-color);
    font-family: var(--chotto-container-font-family);
    box-shadow: var(--chotto-float-container-box-shadow);
    container: all / inline-size;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    padding: 18px 20px;
    background-color: var(--chotto-float-container-bg-header);
    border-top-left-radius: var(--chotto-float-container-border-radius-header);
    border-top-right-radius: var(--chotto-float-container-border-radius-header);
  }

  &__avatar {
    width: var(--chotto-avatar-small);
    height: var(--chotto-avatar-small);
    border-radius: 50%;
  }

  &__title {
    font-size: var(--chotto-title-font-size);
    font-weight: var(--chotto-title-font-weight);
    margin-left: 10px;
  }

  &__close-button {
    display: block;
    background-color: transparent;
    border: none;
    font-size: var(--chotto-button-icon-size);
    color: var(--chotto-secondary-text-color);
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  input,
  button {
    font-family: var(--chotto-container-font-family);
  }

  p,
  h1,
  h2 {
    margin: 0;
  }

  a {
    text-decoration: none;
  }
}
