.attachment-section {
  position: relative;
  display: flex;

  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 5px;
  background-color: #fef3b8;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;

  &__error {
    border: 1px solid var(--p-red-600);
  }

  &__icon {
    padding-left: 10px;
    color: #1e1e1e;
  }

  &__title {
    font-size: 13px;
    color: #1e1e1e;
    font-weight: 600;
  }

  &__info {
    margin-top: 1px;
    color: #5f5f5f;
    font-size: 13px;
    word-break: break-word;
    font-weight: 600;
  }

  &__error-text {
    color: var(--p-red-600);
    margin-left: 5px;
    font-size: 11px;
  }
}

.attachment-section:hover {
  cursor: pointer;
  background-color: #fef3b890;
}
