// Импорты компонентов для темы mobilon1

// 1_atoms
@use '../../components/1_atoms/ButtonContextMenu/styles/themes/glass.scss' as buttoncontextmenu-glass;
@use '../../components/1_atoms/ContactContextMenu/styles/themes/glass.scss' as contactcontextmenu-glass;
@use '../../components/1_atoms/ContextMenu/styles/themes/glass.scss' as contextmenu-glass;
@use '../../components/1_atoms/EmbedPreview/styles/themes/glass.scss' as embedpreview-glass;
@use '../../components/1_atoms/LinkPreview/styles/themes/glass.scss' as linkpreview-glass;
@use '../../components/1_atoms/LoadingIndicator/styles/themes/glass.scss' as loadingindicator-glass;
@use '../../components/1_atoms/Tooltip/styles/themes/glass.scss' as tooltip-glass;

// 2_blocks
@use '../../components/2_blocks/CommunicationPanel/styles/themes/glass.scss' as communicationpanel-glass;
@use '../../components/2_blocks/FeedFoundItem/styles/themes/glass.scss' as feedfounditem-glass;
@use '../../components/2_blocks/FeedFoundObjects/styles/themes/glass.scss' as feedfoundobjects-glass;
@use '../../components/2_blocks/FeedSearch/styles/themes/glass.scss' as feedsearch-glass;

// 2_chatinput_elements
@use '../../components/2_chatinput_elements/ButtonCommandsSelector/styles/themes/glass.scss' as buttoncommandssel-glass;
@use '../../components/2_chatinput_elements/ButtonEmojiPicker/styles/themes/glass.scss' as buttonemojipicker-glass;
@use '../../components/2_chatinput_elements/ButtonTemplateSelector/styles/themes/glass.scss' as buttontemplatesel-glass;
@use '../../components/2_chatinput_elements/ButtonWabaTemplateSelector/styles/themes/glass.scss' as buttonwabatemplatesel-glass;
@use '../../components/2_chatinput_elements/FilePreview/styles/themes/glass.scss' as filepreview-glass;
@use '../../components/2_chatinput_elements/FileUploader/styles/themes/glass.scss' as fileuploader-glass;
@use '../../components/2_chatinput_elements/StickerPicker/styles/themes/glass.scss' as stickerpicker-glass;
@use '../../components/2_chatinput_elements/TemplateSelector/styles/themes/glass.scss' as templateselector-glass;
@use '../../components/2_chatinput_elements/TextFormatToolbar/styles/themes/glass.scss' as textformattoolbar-glass;
@use '../../components/2_chatinput_elements/WABAAttachmentSection/styles/themes/glass.scss' as wabaattachment-glass;
@use '../../components/2_chatinput_elements/WABAQuickReplyButtons/styles/themes/glass.scss' as wabaquickreply-glass;
@use '../../components/2_chatinput_elements/WABASeparatedQuickButtons/styles/themes/glass.scss' as wabaseparatedquick-glass;
@use '../../components/2_chatinput_elements/WABATemplateSelector/styles/themes/glass.scss' as wabatemplatesel-glass;
@use '../../components/2_chatinput_elements/PlaceholderComponent/styles/themes/glass.scss' as placeholdercomponent-glass;

// 2_chatlist_elements
@use '../../components/2_chatlist_elements/ChatFilter/styles/themes/glass.scss' as chatfilter-glass;
@use '../../components/2_chatlist_elements/ChatItem/styles/themes/glass.scss' as chatitem-glass;
@use '../../components/2_chatlist_elements/ChatTabs/styles/themes/glass.scss' as chattabs-glass;

// 2_elements
@use '../../components/2_elements/AudioRecorder/styles/themes/glass.scss' as audiorecorder-glass;
@use '../../components/2_elements/ChannelSelector/styles/themes/glass.scss' as channelselector-glass;
@use '../../components/2_elements/ChatInfo/styles/themes/glass.scss' as chatinfo-glass;
@use '../../components/2_elements/ChatPanel/styles/themes/glass.scss' as chatpanel-glass;
@use '../../components/2_elements/ContactInfo/styles/themes/glass.scss' as contactinfo-glass;
@use '../../components/2_elements/ThemeMode/styles/themes/glass.scss' as thememode-glass;
@use '../../components/2_elements/UserProfile/styles/themes/glass.scss' as userprofile-glass;
@use '../../components/2_elements/VideoRecorder/styles/themes/glass.scss' as videorecorder-glass;

// 2_feed_elements
@use '../../components/2_feed_elements/AudioMessage/styles/themes/glass.scss' as audiomessage-glass;
@use '../../components/2_feed_elements/BaseReplyMessage/styles/themes/glass.scss' as basereplymessage-glass;
@use '../../components/2_feed_elements/CallMessage/styles/themes/glass.scss' as callmessage-glass;
@use '../../components/2_feed_elements/DateMessage/styles/themes/glass.scss' as datemessage-glass;
@use '../../components/2_feed_elements/DateMessageSticky/styles/themes/glass.scss' as datemessagesticky-glass;
@use '../../components/2_feed_elements/DelimiterMessage/styles/themes/glass.scss' as delimitermessage-glass;
@use '../../components/2_feed_elements/FeedKeyboard/styles/themes/glass.scss' as feedkeyboard-glass;
@use '../../components/2_feed_elements/FileMessage/styles/themes/glass.scss' as filemessage-glass;
@use '../../components/2_feed_elements/ImageMessage/styles/themes/glass.scss' as imagemessage-glass;
@use '../../components/2_feed_elements/MessageKeyboard/styles/themes/glass.scss' as messagekeyboard-glass;
@use '../../components/2_feed_elements/MessageReactions/styles/themes/glass.scss' as messagereactions-glass;
@use '../../components/2_feed_elements/ReplyAudioMessage/styles/themes/glass.scss' as replyaudiomessage-glass;
@use '../../components/2_feed_elements/ReplyCallMessage/styles/themes/glass.scss' as replycallmessage-glass;
@use '../../components/2_feed_elements/ReplyFileMessage/styles/themes/glass.scss' as replyfilemessage-glass;
@use '../../components/2_feed_elements/ReplyImageMessage/styles/themes/glass.scss' as replyimagemessage-glass;
@use '../../components/2_feed_elements/ReplyStickerMessage/styles/themes/glass.scss' as replystickermessage-glass;
@use '../../components/2_feed_elements/ReplyTextMessage/styles/themes/glass.scss' as replytextmessage-glass;
@use '../../components/2_feed_elements/SplashScreen/styles/themes/glass.scss' as splashscreen-glass;
@use '../../components/2_feed_elements/ReplyVideoMessage/styles/themes/glass.scss' as replyvideomessage-glass;
@use '../../components/2_feed_elements/StickerMessage/styles/themes/glass.scss' as stickermessage-glass;
@use '../../components/2_feed_elements/SystemMessage/styles/themes/glass.scss' as systemmessage-glass;
@use '../../components/2_feed_elements/TextMessage/styles/themes/glass.scss' as textmessage-glass;
@use '../../components/2_feed_elements/TypingMessage/styles/themes/glass.scss' as typingmessage-glass;
@use '../../components/2_feed_elements/VideoMessage/styles/themes/glass.scss' as videomessage-glass;

// 2_modals
@use '../../components/2_modals/CreateChat2/styles/themes/glass.scss' as createchat2-glass;
@use '../../components/2_modals/CreateDialog/styles/themes/glass.scss' as createdialog-glass;
@use '../../components/2_modals/Modal/styles/themes/glass.scss' as modal-glass;
@use '../../components/2_modals/ModalFullscreen/styles/themes/glass.scss' as modalfullscreen-glass;
@use '../../components/2_modals/ModalNoFooter/styles/themes/glass.scss' as modalnofooter-glass;
@use '../../components/2_modals/ModalVideoRecorder/styles/themes/glass.scss' as modalvideorecorder-glass;
@use '../../components/2_modals/SelectUser/styles/themes/glass.scss' as selectuser-glass;
@use '../../components/2_modals/SelectUser2/styles/themes/glass.scss' as selectuser2-glass;

// 3_compounds
@use '../../components/3_compounds/ChatInput/styles/themes/glass.scss' as chatinput-glass;
@use '../../components/3_compounds/ChatList/styles/themes/glass.scss' as chatlist-glass;
@use '../../components/3_compounds/Feed/styles/themes/glass.scss' as feed-glass;
@use '../../components/3_compounds/SideBar/styles/themes/glass.scss' as sidebar-glass;

// 4_layouts
@use '../../components/4_layouts/AdaptiveExtendedLayout/styles/themes/glass.scss' as adaptiveextendedlayout-glass;
@use '../../components/4_layouts/BaseLayout/styles/themes/glass.scss' as baselayout-glass;
@use '../../components/4_layouts/ChatWrapper/styles/themes/glass.scss' as chatwrapper-glass;
@use '../../components/4_layouts/ExtendedLayout/styles/themes/glass.scss' as extendedlayout-glass;
@use '../../components/4_layouts/FeedLayout/styles/themes/glass.scss' as feedlayout-glass;

// 5_containers
@use '../../components/5_containers/BaseContainer/styles/themes/glass.scss' as basecontainer-glass;
@use '../../components/5_containers/FloatContainer/styles/themes/glass.scss' as floatcontainer-glass;
