[data-theme="default"] {
  --chotto-textformattoolbar-background-color: #ffffff;
  --chotto-textformattoolbar-border: 1px solid #d0d0d0;
  --chotto-textformattoolbar-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  --chotto-textformattoolbar-button-color: #525252;
  --chotto-textformattoolbar-button-hover-background-color: #f5f5f5;
  --chotto-textformattoolbar-button-hover-color: #1E1E1E;
  --chotto-textformattoolbar-button-active-background-color: #e5e5e5;
}

