[data-theme="dark"] {
  // DelimiterMessage container variables
  --chotto-delimitermessage-display: flex;
  --chotto-delimitermessage-align-items: center;
  --chotto-delimitermessage-justify-content: center;
  --chotto-delimitermessage-width: 54%;
  --chotto-delimitermessage-height: 26px;
  --chotto-delimitermessage-margin: 21px auto 21px auto;
  --chotto-delimitermessage-border-bottom: 1px solid #3A3A3A;

  // DelimiterMessage text variables
  --chotto-delimitermessage-text-font-size: 14px;
  --chotto-delimitermessage-text-line-height: 1.5;
  --chotto-delimitermessage-text-align: center;
  --chotto-delimitermessage-text-color: #CFCFCF;
}

