.channels {
  &__container {
    display: flex;
  }

  &__container-disabled {
    color: var(--neutral-600);
  }

  &__title {
    font-size: 14px;
  }

  &__selected {
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    column-gap: 6px;
    align-items: center;
    margin-left: 10px;
  }

  &__icon {
    display: block;
    height: fit-content;
    width: 14px;
    height: 14px;
  }

  &__trigger {
    padding: 14px 14px;
    display: block;
    cursor: pointer;
    font-size: 21px;
    color: var(--neutral-300);
  }

  &__trigger:hover {
    color: var(--neutral-200);
  }

  &__disabled {
    color: var(--neutral-600);
    cursor: auto;
    pointer-events: none;
  }
}
