[data-theme="glass"] {
  // ExtendedLayout container variables
  --chotto-extendedlayout-container-height: inherit;
  --chotto-extendedlayout-container-display: grid;
  --chotto-extendedlayout-container-grid-template-columns: min-content 1fr 3fr min-content;
  --chotto-extendedlayout-container-transition: all 0.3s ease;
  --chotto-extendedlayout-container-position: relative;
  --chotto-extendedlayout-container-border-top: var(--chotto-theme-border, none);
  --chotto-extendedlayout-container-border-left: var(--chotto-theme-border, none);
  --chotto-extendedlayout-container-background: url('https://sun9-25.userapi.com/s/v1/ig2/C5-W134iwdyMDmwBvgIx_PcRlSy81GloIRGiNJpM7y-rHTKJ9wtCEFxFbIP-fRJ0h7HLC1IUDYCzenoprJWzN7hl.jpg?quality=95&as=32x18,48x27,72x41,108x62,160x91,240x137,360x206,480x274,540x309,640x366,720x411,1080x617,1280x731,1440x823,2560x1463&from=bu&cs=2560x0') center / cover no-repeat;

  // ExtendedLayout first-col variables
  --chotto-extendedlayout-first-col-position: relative;
  --chotto-extendedlayout-first-col-grid-column: 1;
  --chotto-extendedlayout-first-col-display: flex;
  --chotto-extendedlayout-first-col-flex-direction: column;
  --chotto-extendedlayout-first-col-height: inherit;
  --chotto-extendedlayout-first-col-width: 70px;
  --chotto-extendedlayout-first-col-border-right: var(--chotto-theme-border, none);
  --chotto-extendedlayout-first-col-border-bottom: var(--chotto-theme-border, none);
  --chotto-extendedlayout-first-col-background-color: #FAF6F4;

  // ExtendedLayout second-col variables
  --chotto-extendedlayout-second-col-position: relative;
  --chotto-extendedlayout-second-col-grid-column: 2;
  --chotto-extendedlayout-second-col-display: flex;
  --chotto-extendedlayout-second-col-flex-direction: column;
  --chotto-extendedlayout-second-col-height: inherit;
  --chotto-extendedlayout-second-col-width: 508px;
  --chotto-extendedlayout-second-col-overflow: hidden;
  --chotto-extendedlayout-second-col-border-right: var(--chotto-theme-border, none);
  --chotto-extendedlayout-second-col-border-bottom: var(--chotto-theme-border, none);
  --chotto-extendedlayout-second-col-background-color: #ffffff;

  // ExtendedLayout third-col variables
  --chotto-extendedlayout-third-col-position: relative;
  --chotto-extendedlayout-third-col-display: flex;
  --chotto-extendedlayout-third-col-flex-direction: column;
  --chotto-extendedlayout-third-col-grid-column: 3;
  --chotto-extendedlayout-third-col-height: inherit;
  --chotto-extendedlayout-third-col-border-right: var(--chotto-theme-border, none);
  --chotto-extendedlayout-third-col-border-bottom: var(--chotto-theme-border, none);
  --chotto-extendedlayout-third-col-background-color: transparent;
  --chotto-extendedlayout-third-col-backdrop-filter: blur(12px) saturate(140%);

  // ExtendedLayout transition variables
  --chotto-extendedlayout-transition-enter-active-transition: opacity 0.5s ease;
  --chotto-extendedlayout-transition-enter-active-opacity: 1;
  --chotto-extendedlayout-transition-enter-from-opacity: 0;
}
