.feed-search {
  &__container {
    display: flex;
    position: relative;
    margin-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;

    i {
      position: absolute;
      right: 20px;
      top: 11px;
    }

    i:hover {
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    background-color: var(--neutral-700);
    color: var(--neutral-100);
    padding: 0.5rem 0.75rem;
    border: 1px solid var(--neutral-300);
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.2s;
    margin-left: 10px;
    &::placeholder {
      color: var(--neutral-300);
    }

    &:hover {
      border-color: var(--neutral-500);
    }

    &:focus-visible {
      border-color: var(--neutral-700);
      outline: none;
    }
  }
}

.v-enter-active {
  transition: all 2s ease-out;
}

.v-leave-active {
  transition: all 2s cubic-bezier(1, 0.5, 0.8, 1);
}

.v-enter-from,
.v-leave-to {
  transform: scale(0.9);
  opacity: 0;
}
