.chat-input {
  &__container {
    position: relative;
    display: grid;
    align-items: center;
    border-top: 1px solid var(--neutral-300);
    background-color: var(--neutral-950);
    padding: 5px;
    grid-gap: 5px;
    grid-template-columns: min-content auto min-content;
    grid-template-rows: auto auto auto auto;
  }

  &__reply-line {
    grid-column: 2;
    grid-row: 1;
    display: none;
  }

  &__file-line {
    grid-column: 2;
    grid-row: 2;
    display: none;
  }

  &__third-line {
    display: flex;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__input {
    grid-row: 3;
    grid-column: 2;
    border: 1px solid var(--neutral-300);
    background-color: var(--neutral-700);
    padding: 0.5rem 0.75rem;
    color: var(--neutral-100);
    font-size: 16px;
    overflow-y: hidden;
    resize: none;
    white-space: pre-wrap;
    max-height: 140px;
    border-radius: 5px;

    &:focus-visible {
      outline: none;
    }

    &::placeholder {
      color: var(--neutral-300);
    }
  }

  &__disabled-placeholder {
    color: var(--neutral-300);
    text-align: center;
    user-select: none;
  }

  &__button {
    grid-row: 3;
    grid-column: 3;
    background-color: transparent;
    border: 0px;
    height: fit-content;
    width: fit-content;
    margin: auto 0;
    span {
      display: block;
      cursor: pointer;
      padding: 14px;
      font-size: 21px;
      color: var(--neutral-300);
    }
  }

  &__button-disabled {
    span {
      cursor: auto;
      color: var(--neutral-700);
    }
  }

  &__inline-buttons {
    display: flex;
    margin: auto 0;
    grid-row: 3;
    grid-column: 1;
  }
}
