.commands {
  &__trigger {
    padding: 14px;
    display: block;
    cursor: pointer;
    font-size: calc(21px - 7px);
    color: var(--neutral-300);
  }

  &__trigger:hover {
    color: var(--neutral-200);
  }

  &__disabled {
    color: var(--neutral-600);
    cursor: auto;
    pointer-events: none;
  }
}
