.sidebar {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px 8px 22px 8px;
    background-color: transparent;
  }

  &__list,
  &__list-fixed {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 0;
  }

  &__list-fixed {
    padding-top: 10px;
    border-top: 1px solid var(--neutral-300);
  }

  &__item {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2px;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;

    span {
      position: absolute;
      top: 2px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      font-size: 11px;
      color: var(--neutral-50);
      background-color: var(--p-red-500);
    }

    p {
      font-size: 11px;
      text-align: center;
      line-height: 1;
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid transparent;
    opacity: 0.8;
    transition: all 0.2s;
    width: 45px;
    height: 45px;
  }

  &__image--active {
    border: 3px solid var(--emerald-500);
    opacity: 1;
  }
}

.sidebar-horizontal {
  &__container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-top: 0px;
    padding-bottom: 5px;
    border-right: 0px;
    background-color: transparent;
  }

  &__list {
    flex-direction: row;
    gap: 14px;
  }

  &__item {
    display: block;
    max-width: 70px;
    text-align: center;

    span {
      width: 24px;
      height: 24px;
      left: 45px;
    }

    p {
      font-size: 14px;
    }
  }

  &__list-fixed {
    padding-left: 10px;
    border-left: 1px solid var(--neutral-300);
    padding-top: 0;
    border-top: 0px;
    margin-right: 10px;
  }
  &__image {
    width: calc(45px * 1.2);
    height: calc(45px * 1.2);
  }
}
