.video-recorder {
  &__container {
    position: relative;
    display: grid;
    align-items: center;
    background-color: transparent;
    height: fit-content;
  }

  &__button {
    background-color: transparent;
    border: 0px;

    span {
      display: block;
      cursor: pointer;
      padding: 8px;
      font-size: 21px;
      color: var(--neutral-600);
    }
  }

  &__button:hover span {
    color: var(--neutral-700);
  }

  &__button-disabled {
    pointer-events: none;
    span {
      cursor: auto;
      color: var(--neutral-200);
    }
  }
}
