.reply-file-message {
  &__text {
    margin-top: 8px;
    font-size: 14px;
    color: var(--neutral-100);
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 13px;

    p {
      margin: 0;
      margin-top: 6px;
      word-wrap: break-word;
      white-space: pre-wrap;
      font-size: 12px;
      color: var(--neutral-300);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
    }

    span {
      color: var(--neutral-300);
      font-size: 21px;
    }
  }

  &__filename-text {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-right: 40px;
    font-size: 12px;
    color: var(--neutral-300);
    text-decoration: underline;
  }
}
