.message-sms-invite {
  display: var(--chotto-messagesmsinvite-display, flex);
  flex-direction: var(--chotto-messagesmsinvite-flex-direction, column);
  align-items: var(--chotto-messagesmsinvite-align-items, center);
  width: var(--chotto-messagesmsinvite-width, 100%);
  cursor: var(--chotto-messagesmsinvite-cursor, pointer);
  transition: var(--chotto-messagesmsinvite-transition, opacity 0.2s ease);

  &:hover {
    opacity: var(--chotto-messagesmsinvite-hover-opacity, 0.7);
  }
}

.message-sms-invite__text {
  font-size: var(--chotto-messagesmsinvite-text-font-size, 14px);
  font-weight: var(--chotto-messagesmsinvite-text-font-weight, 500);
  text-align: var(--chotto-messagesmsinvite-text-text-align, center);
  border-top: var(--chotto-messagesmsinvite-text-border-top-width, 1px) var(--chotto-messagesmsinvite-text-border-top-style, solid);
  width: var(--chotto-messagesmsinvite-text-width, calc(100% + 28px));
  margin-left: var(--chotto-messagesmsinvite-text-margin-left, -18px);
  margin-right: var(--chotto-messagesmsinvite-text-margin-right, -10px);
  padding: var(--chotto-messagesmsinvite-text-padding, 7px 25px 6px 20px);
}

