[data-theme="glass"] {
  // SplashScreen container variables
  --chotto-splashscreen-container-border-radius: 16px;
  --chotto-splashscreen-container-background-color: transparent;
  --chotto-splashscreen-container-backdrop-filter: blur(14px) saturate(150%);
  --chotto-splashscreen-container-padding: 20px;

  // SplashScreen container children variables
  --chotto-splashscreen-container-children-text-align: center;

  // SplashScreen image variables
  --chotto-splashscreen-img-cursor: pointer;
}