.splash {
  &__container {
    border-radius: 10px;
    background-color: inherit;
    backdrop-filter: brightness(140%);
    padding: 20px;

    * {
      text-align: center;
    }
  }

  &__img {
    cursor: pointer;
  }
}